<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Page Not Found</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  </head>
  <body>
  <section class="section is-medium">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column has-text-centered">
          <h1 class="title">404 Page Not Found</h1>
          <p class="subtitle">An unexpected error has occurred. Please contact the site owner.</p>
          <a class="button" href="/admin/product">Home</a>
          <a class="button" target="__blank" href="https://github.com/r-argentina-programa/cpr">Contact</a>
        </div>
        <div class="column has-text-centered">
          <img src="https://i.giphy.com/media/fQYFeJLH0dtM659OfI/giphy.webp" />
        </div>
      </div>
    </div>
  </section>
  </body>
</html>