<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Administration Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css"/>
  </head>

  <body>
    <section>
      <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="/admin/product">
              <h2 class="title is-2">Admin Panel</h2>
            </a>

            <a
              role="button"
              class="navbar-burger burger"
              aria-label="menu"
              aria-expanded="false"
              data-target="navbarBasicExample"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div class="navbar-menu">
            <div class="navbar-start">
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/admin/product"> Products </a>

                <div class="navbar-dropdown">
                  <a class="navbar-item" href="/admin/product"> Index </a>
                  <a class="navbar-item" href="/admin/product/create"> Add </a>
                </div>
              </div>

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/admin/brand"> Brands </a>

                <div class="navbar-dropdown">
                  <a class="navbar-item" href="/admin/brand"> Index </a>
                  <a class="navbar-item" href="/admin/brand/create"> Add </a>
                </div>
              </div>

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/admin/category"> Categories </a>

                <div class="navbar-dropdown">
                  <a class="navbar-item" href="/admin/category"> Index </a>
                  <a class="navbar-item" href="/admin/category/create"> Add </a>
                </div>
              </div>
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-danger is-outlined" href="/admin/logout">
                    Log out
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>

        {% block body %}{% endblock %}
      </div>
    </section>
    {% block footerScripts %}{% endblock %}
  </body>
</html>