{% extends 'management/view/layout/base.njk' %}
{% block body %}
  <h1 class="title is-1">Brand Managment</h1>

<nav class="level-right">
  <div class="level-item">
    <a href="/admin/product/create" class="button is-primary is-large">
      <span class="icon"><i class="fas fa-plus"></i></span>
      <span>Add new Brand</span>
    </a>
  </div>
</nav>


<div class="panel-block">
  <table class="table is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Id</th>
        <th>Brand</th>
        <th>Logo</th>
      </tr>
    </thead>

      <tbody>
        {% for brand in brands %}
          <tr>
            <td>{{ brand.id }}</td>
            <td>{{ brand.name }}</td>
            <td>
              <figure class="image is-128x128">
                <img src="/{{brand.logo}}" width="128" height="128"/>
              </figure>
            </td>
            <td>
              <a class="button is-danger is-outlined" href="/admin/brand/delete/{{brand.id}}">
                <span>Delete</span>
              </a>
              <a class="button is-link is-outlined" href="/admin/brand/edit/{{brand.id}}">
                <span>Edit</span>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}