{% extends 'management/view/layout/base.njk' %} {% block body %}
<h1 class="title is-1">{{ 'Managing Brand : ' + brand.name }}</h1>

<div class="panel-block">
  <table class="table is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Default Price</th>
        <th>Image</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.defaultPrice }}</td>
        <td>
          <figure class="image is-128x128">
            <img src="data:image/png;base64, {{ product.imageSrc }}" width="128" height="128" />
          </figure>
        </td>
        <td>{{ product.description }}</td>
        <td>
          <a class="button is-link is-fullwidth" href="/admin/product/edit/{{ product.id }}">
            <span>Edit</span>
          </a>
        </td>
        <td>
          <a class="button is-danger is-fullwidth" href="/admin/product/delete/{{ product.id }}">
            <span>Delete</span>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
