{% extends 'management/view/layout/base.njk' %} {% block body %} {% set discount = data.discount %}

<div class="level-left">
  <div class="level-item">
    <h1 class="title is-1">
      {{"Editing Discount with ID: " + discount.id if discount.id else "New Discount"}}
    </h1>
  </div>
  <div class="level-item">
    <span>
      <a class="button is-link is-light" href="/admin/discount">Cancel</a>
    </span>
  </div>
</div>

<hr />

<form action="/admin/discount/save" method="POST" >
  <input type="hidden" name="id" value="{{ discount.id }}" readonly />

  <div class="field">
    <label class="label">Value</label>
    <div class="control has-icons-left">
      <input
        class="input"
        type="text"
        name="value"
        placeholder="Type"
        value="{{ discount.value }}"
        required
      />
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </div>
  </div>

    <div class="field">
    <label class="label">Type</label>
    <div class="control has-icons-left">
      <div class="select">
        <select name="type">
          <option value="Fixed">Fixed</option>
          <option value="Percentage">Percentage</option>
          <option value="BuyXpayY">Buy X pay Y</option>
          <option value="BuyXgetYthWithZOff">Buy X and get Yth with %Z off</option>
        </select>
      </div>
      <div class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </div>
    </div>
  </div>

  <input type="submit" class="button is-success" value="Save changes" />

  <hr />
</form>
{% endblock %}
