{% extends 'management/view/layout/base.njk' %}
{% block body %}
  <h1 class="title is-1">Discount Managment</h1>

  {% for error in errors %}
    <div class="notification is-danger">
      {{ error }}
    </div>
  {% endfor %}
  {% for message in messages %}
    <div class="notification is-success">
      {{ message }}
    </div>
  {% endfor %}

  <nav class="level-right">
    <div class="level-item">
      <a href="/admin/discount/create" class="button is-primary is-medium is-light">
        <span class="icon">
          <i class="fas fa-plus"></i>
        </span>
        <span>Add new Discount</span>
      </a>
    </div>
  </nav>

  <div class="panel-block">
    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Id</th>
          <th>Type</th>
          <th>Value</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for discount in discountsList %}
          <tr>
            <td>{{ discount.id }}</td>
            <td>{{ discount.type }}</td>
            <td>{{ discount.value + '%' if discount.type === 'Percentage' else '$' + discount.value}}</td>
            <td>
              <a href="/admin/discount/edit/{{ discount.id }}" class="button is-info is-fullwidth is-light">Edit</a>
            </td>
            <td>
              <a href="/admin/discount/delete/{{ discount.id }}" class="button is-danger is-fullwidth is-light">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}