{% extends 'management/view/layout/base.njk' %} {% block body %} {% set product = data.product %}

<div class="level-left">
  <div class="level-item">
    <h1 class="title is-1">
      {{"Edit a product with ID: " + product.id if product.id else "New product"}}
    </h1>
  </div>
  <div class="level-item">
    <span>
      <a class="button is-link" href="/admin/product">Cancel</a>
    </span>
  </div>
</div>

<hr />

<form action="/admin/product/save" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="id" value="{{ product.id }}" readonly />

  <div class="field">
    <label class="label">Name</label>
    <div class="control has-icons-left">
      <input
        class="input"
        type="text"
        name="name"
        placeholder="Coca-Cola"
        value="{{ product.name }}"
        required
      />
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Default Price</label>
    <div class="control has-icons-left">
      <input
        class="input"
        type="text"
        name="defaultPrice"
        placeholder="Coca-Cola"
        value="{{ product.defaultPrice }}"
        required
      />
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">imageSrc</label>
    <div class="control has-icons-left">
      <input class="input" type="file" name="file" value="{{ product.imageSrc }}" required />
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Description</label>
    <div class="control has-icons-left">
      <input
        class="input"
        type="text"
        name="description"
        placeholder="Description"
        value="{{ product.description }}"
        required
      />
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Brand</label>
    <div class="control has-icons-left">
      <input
        class="input"
        type="text"
        name="brand"
        placeholder="Coca-Cola"
        value="{{ product.brand }}"
        required
      />
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </div>
  </div>
  <input type="submit" class="button is-primary is-large" value="Save" />

  <hr />
</form>
{% endblock %}
