{% extends 'management/view/layout/base.njk' %} {% block body %}
<h1 class="title is-1">Product Managment</h1>

<nav class="level-right">
  <div class="level-item">
    <a href="/admin/product/create" class="button is-primary is-large">
      <span class="icon"><i class="fas fa-plus"></i></span>
      <span>Add new Product</span>
    </a>
  </div>
</nav>

<div class="panel-block">
  <table class="table is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Id:</th>
        <th>Name:</th>
        <th>Default Price</th>
        <th>Logo</th>
        <th>Description</th>
        <th>Brand</th>
      </tr>
    </thead>

    <tbody>
      {% for product in productsList %}
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.defaultPrice }}</td>
        <td><img src="/{{ product.imageSrc }}" alt="Product Logo" /></td>
        <td>{{ product.description }}</td>
        <td>{{ product.brand }}</td>
        <td>
          <a href="/admin/product/edit/{{ product.id }}" class="button is-info is-fullwidth"
            >Edit</a
          >
        </td>
        <td>
          <a href="/admin/product/delete/{{ product.id }}" class="button is-danger is-fullwidth"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
