{% extends 'management/view/layout/base.njk' %}
{% block body %}
  <h1 class="title is-1">Product Managment</h1>

  {% for error in errors %}
    <div class="notification is-danger">
      {{error}}
    </div>
  {% endfor %}

  {% for message in messages %}
    <div class="notification is-success">
      {{message}}
    </div>
  {% endfor %}

  <nav class="navbar">
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="text" name="search" placeholder="Find a product">
            </div>
            <div class="control">
              <a class="button is-info is-outlined">
                Search
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a href="/admin/product/create" class="button is-primary is-medium is-light">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>Add new Product</span>
          </a>
        </div>
      </div>
    </div>
  </nav>

  <div class="panel-block">
    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Default Price</th>
          <th>Image</th>
          <th>Description</th>
          <th>Brand</th>
          <th>Categories</th>
          <th>Discounts</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for product in productsList %}
          <tr id="product-{{ product.id }}">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>${{ product.defaultPrice }}</td>
            <td>
              <figure class="image is-128x128">
                <img src="data:image/png;base64, {{ product.imageSrc }}" alt="Product Logo"/>
              </figure>
            </td>
            <td>{{ product.description }}</td>
            <td>{{ product.brand.name }}</td>
            <td>
              {% for category in product.categories %}
                {{ category.name }}
              {% endfor %}
            </td>
            <td>
              {% for discount in product.discounts %}
                {{ discount.value + '%' if discount.type === 'Percentage' else '$' + discount.value}}
              {% endfor %}
            </td>
            <td>
              <a href="/admin/product/edit/{{ product.id }}" class="button is-info is-fullwidth is-light">
                Edit
              </a>
            </td>
            <td>
              <a href="/admin/product/delete/{{ product.id }}" class="button is-danger is-fullwidth is-light">
                Delete
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <section class="section">
    {% include "product/view/layout/pagination.njk" %}
  </section>
{% endblock %}
{% block footerScripts %}
  <script>
    const inputName = document.querySelector('input[name=search]');

    inputName.addEventListener('input', checkName);

    function checkName(event) {
      const searchValue = event.target.value.toLowerCase();
      const products = {{ productsList | dump | safe }};
      products.forEach((product) => {
        const name = product.name.toLowerCase();
        const productTr = document.getElementById(`product-${product.id}`);
        if (name.indexOf(searchValue) > -1) {
          productTr.classList.remove('is-hidden');
        } else {
          productTr.classList.add('is-hidden');
        }
      });
    }
  </script>
{% endblock %}