{% extends 'management/view/layout/base.njk' %}
{% block body %}
  <h1 class="title is-1">Search Results</h1>

  {% for error in errors %}
    <div class="notification is-danger">
      {{error}}
    </div>
  {% endfor %}

  {% for message in messages %}
    <div class="notification is-success">
      {{message}}
    </div>
  {% endfor %}

  <nav class="navbar">
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          {% include "./layout/search-form.njk" %}
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a href="/admin/product/create" class="button is-primary is-medium is-light">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>Add new Product</span>
          </a>
        </div>
      </div>
    </div>
  </nav>

  {% if (productsList | length) > 0 %}
    <div class="panel-block">
      {% include "product/view/layout/table.njk" %}
    </div>
    {% if pageData %}
      <section class="section">
        {% include "product/view/layout/pagination.njk" %}
      </section>
    {% endif %}
  {% else %}
    <div class="panel-block">
      <p class="subtitle is-5">Oops it seems that no results were found for your search. <a href="/admin/product"> Previous page</a></p>
    </div>
  {% endif %}
{% endblock %}
